
# ignore env
.env
.env-*
.env.yaml
*.env*
*.yaml

build/
temp/
temporary_storage/
tmp/
.idea
docs

src/user_cart

# ignore wire
wire_gen.go


# RSA key
.public
.private

*fakes
/database/

__debug_bin
.vscode
coma.cfg

coma